
h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px, 0px, 30px, 0px; 
}

#main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#inputdiv, #counter {
    padding: 10px;
}

#inputdiv > textarea {
    width: 600px;
    height: 50px;
    /* white-space: normal; */
    overflow-wrap: break-word;
    word-wrap: break-word;
    resize: none;
}

#counter > #counterOut {
    height: 40px;
    text-align: center;
    outline: none;
    font-size: 18px;
}