.body{
    width: 100%;
    height: 100vh;
    /* background-color:#AAC0AA; */
    background-color:rgb(42, 52, 52);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#588B8B;
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.3);
}

.mainbox1 {
    display: flex;
    width: 100%;
    height: 33%;
    justify-content:center;
    align-items: center;
}
.mainbox2 {
    display: flex;
    width: 100%;
    height: 33%;
    justify-content:center;
    align-items: center;
}
.mainbox3 {
    display: flex;
    width: 100%;
    height: 33%;
    justify-content:center;
    align-items: center;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.heading {
    color:#61cfcb;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    
}

.btn {
    border: none;
    margin-top: 10px;
    width: 100px;
    background-color: #588B8B;
    padding: 8px;
    border-radius: 20px;
    color: #ddff00;
    font-weight: bold;
    font-family: fantasy;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.3);
}

#CPN, #winner {
    width: 100px;
    height: 30px;
    border-radius: 30px;
    margin-top: 10px;
    outline: none;
    border: none;
    background: #588B8B;
    color: #ff0400;
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.3);

}

.btn:hover {
    color:#ff0000;
    background-color: rgb(39, 37, 37);
}

/* .icondiv {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    
} */

.icn {
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #fffb1c;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 5px 5px 15px 0 rgba(0,0,0,0.3);
}
.icn:hover {
    width: 65px;
    height: 65px;
    transition: all 0.2s ease;
}


.Cross {
    font-size: 30px;
    color: #ff0400;
}

.Circle {
    font-size: 30px;
    color: rgb(179, 0, 255);
}

