
#container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#toggleTheme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggleTheme > h1 {
    font-family: fantasy;
}

button {
    padding: 6px 20px;
    outline:none;
    border: none;
    border-radius: 10px;
    background-color: rgb(150, 48, 48);
    color: white;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

