.lightmode {
    background-color: rgb(255, 255, 255);
}

.hoverevent {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: cyan;
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.hoverevent2 {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(255, 187, 0);
    text-align: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.evtlis {
    width: 150px;
    border: 2px solid red;
    height: 200px;
    margin-top: 20px;
    padding: 20px;
    background-color: rgb(48, 46, 46);

}

.img1 {
    width: 150px;
}

.toggle {
    border: none;
    background-color: red;
    color: yellow;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
    font-family:fantasy;
}

.darkmode {
    background-color: black;
}

.toggle-dark-btn {
    border: none;
    background-color: rgb(0, 255, 213);
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    border-radius: 10px;
    font-family:fantasy;
}