*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #F3E9DC;
}

.heading {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: fantasy;
    background-color: rgb(52, 62, 70);
    color: rgb(230, 242, 15);
}

.container {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons {
    width: 70%;
    display: flex;
    justify-content: center;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}

.rockimg, .paperimg, .scissorimg {
    width: 100px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.icons-hover:hover {
    border: 4px solid rgb(74, 70, 70);
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease;
    filter: brightness(0.8);
}



.scoreboard, .moves, .results {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 10px;
}

.myscore, .compscore, .usrmove, .compmove, .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labels {
    font-size: 10px;
    padding: 5px;
}

#usrscore, #computerscore, #usermove, #computermove, .result {
    text-align: center;
    outline: none;
    border: none;   
    border-radius: 20px;
    color: rgb(255, 255, 255);

}


#usrscore, #computerscore{
    width: 100px;
    height: 20px;
    background-color: rgb(100, 77, 121);
}
#usermove, #computermove {
    width: 100px;
    height: 20px;
    background-color: rgb(172, 90, 90);
    font-size: 10px;
}

.result {
    margin-top: 8px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    background-color: rgb(96, 139, 182);
}

.sepline {
    display: flex;
    width: 100%;
    justify-content: center;
}

.line{
    border: 1.5px solid rgb(146, 172, 181);
    border-radius: 40px;
    
    width: 60%;
}