body {
    background-color: #A8C7BB;
}

#container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

}

#heading {
    text-align: center;
}

#heading > h1 {
    width: 300px;
    color: purple;
    font-size: 60px;
    box-shadow: 20px 10px 20px 0px rgb(58, 133, 120);
    border-radius: 50px;
    padding: 20px 40px;
    background-color: #FFAFF0;
}

#main {
    background-color: #FFAFF0;
    display: flex;
    flex-direction: column;
    width: 80rem;
    height: 100%;
    box-shadow: 20px 10px 20px 0px rgb(58, 133, 120);
    padding: 10px 30px;
    border-radius: 20px;
}

#addtask {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: rem; */
}

#addtask > h2 {
    font-size: 2rem;
    font-family: sans-serif;
    color: rgb(94, 17, 109);
}
#addtask > input {
    width: 600px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 0px 20px;
    font-size: 1rem;
     box-shadow: 20px 10px 20px 0px rgb(203, 101, 216);

}

#addtask > button {
    width: 100px;
    border: none;
    background-color: rgb(182, 58, 126);
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 30px 0px rgb(154, 77, 161)
}

hr{
    width: 80%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

#taskcontainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#tasks, #completedtasks {
    background-color: rgb(182, 58, 126);
    width: 40%;
    height: 35vh;
    margin-top: 30px;
    border-radius: 20px;
    padding: 10px 20px;
    box-shadow: 20px 10px 20px 0px rgb(177, 72, 187);
}

#tasklist, #completedTasksection {
    overflow-y: scroll;
    overflow-x:hidden;
    display: flex;
    flex-direction: column;
    height: 25vh;
}

#tasklist::-webkit-scrollbar, #completedTasksection::-webkit-scrollbar {
    background: none;
    background-color: rgb(83, 53, 82);
    border-radius: 20px;
}

#tasks > h3, #completedtasks > h3 {
    text-align: center;
    color: aliceblue;
}

#tasks > hr, #completedtasks > hr {
    background-color: white;
}


.eachTask {
    width: 100%;
    height: 50px;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

.eachTask > #checkbox > input{
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    
}
.eachTask > #checkbox > input:checked{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffee00;
    accent-color: #be3ea7;
}

#maintask > p{
    color: rgb(255, 251, 0);
    font-size: 20px;
    width: 400px;
    word-break: break-all;
}


#deletetask > button, .completedtaskdiv > button {
    outline: none;
    border: none;
    background: none;
    background-color: #FFAFF0;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 600;
    color:rgb(0, 0, 0);
    cursor: pointer;
}
#deletetask > button:hover, .completedtaskdiv > button:hover {
    background-color: #ff00f2;
}

/* .completedTasksection {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 25vh;
} */

.completedtaskdiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}

.completedtaskdiv > p {
     color: rgb(255, 251, 0);
    font-size: 20px;
    width: 400px;
    word-break: break-all;
    /* text-decoration: line-through; */
    opacity: 0.6;
}

@media (max-width: 1450px) {
    #main {
        width: 80%;
        height: 100vh;
    }
    #taskcontainer {
        flex-direction: column;
    }
    #tasks, #completedtasks {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    #addtask > h2 {
        display: none;
    }
    #addtask > input {
        width: 60%;
    }
    /* #taskcontainer {
        flex-direction: column;
    }
    #tasks, #completedtasks {
        width: 95%;
    } */
     #maintask {
        width: 70%;
     }
     #maintask > p {
        font-size: 12px;
        word-break: break-all;
     }
}