body{
    background-color: rgb(122, 157, 160);
}

#container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

#main {
    width: 25rem;
    background-color:white ;
    padding: 10px 40px;
    height: 50%;
    border-radius: 20px;
}

#heading {
    text-align: center;
}

#inputDiv, #display, #start, #stop {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

#inputDiv > input, #display > input {
    background: none;
    outline: none;
    border: 2px solid gray;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    font-size: 20px;
}

#start > button, #stop > button, #resetbtn {
    background-color: blue;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
}
#stop {
    display: flex;
    gap:1rem;
}

.hidden {
    display: none;
}