body {
    background-color: rgb(63, 143, 132);
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    color: blue;
}

#container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#maindiv {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#form-div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#emaildiv, #passdiv {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:stretch;
    /* margin-top: 50px; */
}
#maindiv > form {
    background-color: rgb(255, 255, 255);
    height: 50%;
    padding: 60px 40px 60px 40px;
    border-radius: 20px;
}

label {
    padding: 10px 0px 10px 0px;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
    padding-bottom:10px ; 
}

input::placeholder{
    padding-left: 10px;
}

#showPassDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -80px;
    right: -200px;
}

#validate {
    display: flex;
    justify-content: center;
    align-items: center;
}

#showPassDiv > button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

#validate > button {
    background: blue;
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
}

#passdiv > p, #emaildiv > p {
    color: red;
    visibility: hidden;
}

#successmsg {
    text-align: center;
    margin-top: 30px;
}

#successmsg > p {
    color:green;
    visibility: hidden;
}